<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/app.css">
<title>Criar Nova Lista | To-Do App</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main class="app">
                    <% if (message) { %>
                <div class="alert msg <%= message.type %>">
                    <p>
                        <%= message.text %>
                    </p>
                </div>
                <% } %>

            <div class="user">
            <% if (!user.guest) { %>
                <span>Bem vindo, <%= user.username  %></span>
            <% } else { %>
                <span>Olá, Convidado!</span>
                <% } %>
            </div>
        <div class="container-app mt-5">
            <h1>Criar nova Lista de Tarefas</h1>
            <form class="form" action="/app/new-list-task" method="post">
                <div class="container-group">
                <div class="content-create">
                    <label for="title" class="visually-hidden">Digite o nome da lista</label>
                        <input type="text" class="task" id="title" name="title" placeholder="Nome da lista">
                        <button type="submit" class="addTaskBtn" id="addTaskBtn">Criar</button>
                    </div>
                    </div>
                </form>
                                    <button class="btn-normal">
                <a href="/app">Voltar</a>
                    </button>

            </div>
        </main>
        <script type="module" src="/script/app.js" defer ></script>
        <%- include('../partials/footer') %>
</body>

</html>