<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lista da tarefa | To-Do App</title>
  <link rel="stylesheet" href="/css/app.css">

</head>

<body class="app">
    <%- include('../partials/header') %>
        <main class="container-app">
            <% if (message) { %>
                <div class="alert msg <%= message.type %>">
                    <p><%= message.text %></p>
                </div>
                <% } %>
                    <div class="user">
                        <% if (!user.guest) { %>
                            <span>Bem vindo, <%= user.username %></span>
                            <% } else { %>
                                <span>Olá, Convidado!</span>
                                <% } %>
                    </div>
                    <div class="mt-5">
                        <h1><%= task.title %></h1>
                        <form data-list-id="<%= task.id  %>" action="/app/<%= task.id %>/new-task"
                            method="post">
                            <div class="container-group">
                                <div class="content-create">
                                    <label class="visually-hidden" for="title">Título da tarefa</label>
                                    <input class="task" type="text" id="title" placeholder="Digite o titulo da tarefa"
                                        name="title">
                                    <button class="addTaskBtn">Adicionar</button>
                                </div>
                            </div>
                        </form>
                        <div id="empty-container" style="display: none;" class="empty-msg"></div>

                        <ul class="list-group">
                            <% subtasks.forEach(subtask=> { %>
                            <li class="list-group-item subTask" data-id="<%= subtask.id %>">
                            <p data-subtask-id="<%= subtask.id %>" class="subtitle" data-title="<%= subtask.title %>"><%= subtask.title %></p>
                                        <div class="groupBtn">
                                            <button class="status <%= subtask.status === 'completed' ? 'completed' : ''  %>"><%= subtask.status === 'completed' ? 'Concluída' : 'Pendente'  %></button>
                                <form id="deletesubtask" action="/app/<%= subtask.id  %>/delete" method="post">
                                    <input type="hidden" name="taskId" value="<%= task.id %>">
                                    <button class="deleteBtn">Excluir</button>
                                </form>
                                        </div>
                                </li>
                                <% }) %>
                        </ul>
                        <div class="deleteBtnAll">
                            <form  action="/app/<%= task.id %>/delete-all-subtask" method="POST">
                                <button class="deleteBtn">Excluir tudo!</button>
                            </form>
                        </div>
                    </div>
        </main>
        <script type="module" src="/script/app.mjs" defer ></script>
        <%- include('../partials/footer') %>

</body>

</html>